<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar">
        <input type="text" class="form-control" name="stud_name" [(ngModel)]="stud_name" 
        (ngModelChange)="Search()" placeholder="Enter the Student Name to Search">
</nav>

<button class="btn btn-primary" (click)="retriveStudentData();">Retrive Student Data</button>
<br>
<table table border="1">
    <thead>
    <tr>
       
        <th (click)="sort('id')">Student Id<i class='fa fa-fw fa-sort'></i></th>  
        <th>Student Name<i class='fa fa-fw fa-sort'></i></th>
        <th>Student City</th>
        <th>Student Country</th>
        <th>Student Age</th>
    </tr>
    </thead>
    <tr *ngFor="let ret of fetch | orderBy: key: reverse">
        <td>{{ret.stud_id}} </td> 
        <td>{{ret.stud_name}}</td>
        <td>{{ret.stud_city}}</td>
        <td>{{ret.stud_state}}</td>
        <td>{{ret.stud_country}}</td>
        <td>{{ret.stud_age}}</td>
        <a routerLink="/update/{{ret.stud_id}}"><button type="button" class="btn btn-primary" (click)="editStud(ret.stud_id)">Update</button></a>
        <button type="button" class="btn btn-danger" (click)="delStud(ret.stud_id)">Delete</button>
    </tr> 
</table>

<div >
  <table tableborder="1">
   
  </table>
</div>