
  <h1 class="h1">Student Registration Form</h1>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-secondary ; rounded-pill" (click)="homepage()">Home</button>
      </div>
<br/>
      <div class="col-md-4">
        <button class="btn btn-primary ; rounded-pill" (click)="addstud()">Add Student/Register</button>
      </div>
<br/>
      <div class="col-md-4">
        <button class="btn btn-info ; rounded-pill" (click)="showstud()">Show Student List</button>
      </div>
    </div>
</div>

<router-outlet></router-outlet>